#********* General Settings **********/
MAGENTO_ROOT=magento2
REPO_ROOT=../magento
INSTALL_NEW_MAGENTO=true
SYSTEM_USER_NAME=ubuntu
SYSTEM_USER_UID=1000
SYSTEM_USER_GID=1000
#must always be unique for different projects
NETWORK_NAME=m2temptest
DB_DUMP_NAME=m2one.sql
REPO_TO_CLONE=git@bitbucket.org:example/example.git
CRYPT_KEY=

#********* Magento Settings **********/
MAGENTO_AUTH_CONSUMER=
MAGENTO_AUTH_KEY=
MAGENTO_VERSION=2.4.7-p3
#Be careful. When installing new magento you must use a unique DB name#
MAGENTO_DB_NAME=m2demodb
MAGENTO_DB_USER=magento
MAGENTO_DB_PASSWORD=
MAGENTO_URL=m2.demo
MAGENTO_BACKEND_FRONTNAME=admin
MAGENTO_ADMIN_NAME=admin
MAGENTO_ADMIN_LAST_NAME=admin
MAGENTO_ADMIN_PASSWORD=adminpwd123
MAGENTO_ADMIN_EMAIL=admin@admin.com
MAGENTO_ADMIN_USER=admin
MAGENTO_LANGUAGE=en_US
MAGENTO_CURRENCY=EUR
MAGENTO_TIMEZONE=Europe/Madrid

#********* Nginx Settings **********/
NGINX_DOCKER_IMAGE_VERSION=latest
MAGENTO_SERVER_NAME=_
NGINX_CONF_FILE=nginx.conf.sample

#********* Varnish Settings **********/
VARNISH_DOCKER_IMAGE_VERSION=latest
VARNISH_PORT=6081

#********* PHP Settings **********/
PHP_DOCKER_IMAGE_VERSION="8.2-fpm"
PHP_INSTALL_DEPENDENCIES=libfreetype6-dev libjpeg62-turbo-dev libpng-dev libxml2-dev libonig-dev libzip-dev zip libicu-dev g++ libxslt-dev libcurl4-openssl-dev pkg-config git curl unzip redis-tools redis-server default-mysql-client sudo libgmp-dev libldap2-dev freetds-dev libpspell-dev libsodium-dev
PHP_INSTALL_EXTENSIONS="bcmath calendar ctype curl dba dom exif fileinfo filter ftp gd gettext gmp iconv intl ldap mbstring mysqli opcache pcntl pdo pdo_dblib pdo_mysql posix pspell session simplexml sockets sodium sysvmsg sysvsem sysvshm xml xmlwriter xsl zip soap gmp ldap pdo_dblib pspell sodium"
PHP_MEMORY_LIMIT=2G
PHP_MAX_EXECUTION_TIME=300
PHP_UPLOAD_MAX_FILE_SIZE=32M
PHP_POST_MAX_SIZE=32M
PHP_TIMEZONE=UTC
PHP_INSTALL_XDEBUG=true
PHP_REALPATH_CACHE_SIZE=10M
PHP_REALPATH_CACHE_TTL=7200
PHP_OPCACHE_MEMORY_CONSUMPTION=512
PHP_OPCACHE_MAX_ACCELERATED_FILES=60000
PHP_OPCACHE_CONSISTENCY_CHECKS=0
PHP_OPCACHE_VALIDATE_TIMESTAMPS=0
PHP_OPCACHE_ENABLE_CLI=1
PHP_OPCACHE_SAVE_COMMENTS=TRUE


#********* MailCatcher Settings **********/
MAILCATCHER_HOST=mailcatcher
MAILCATCHER_PORT=1025

#********* MariaDB Settings ***********/
MARIADB_DOCKER_IMAGE_VERSION=10.6
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=m2demodb
MYSQL_USER=magento
MYSQL_PASSWORD=

#********* Redis Settings ***********/
REDIS_DOCKER_IMAGE_VERSION=7.2
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TIMEOUT=2.5
REDIS_PERSISTENT_IDENTIFIER=
REDIS_SESSION_DATABASE=10
REDIS_COMPRESSION_TRESHOLD=2048
REDIS_COMPRESSION_LIBRARY=gzip
REDIS_LOG_LEVEL=4
REDIS_MAX_CONCURRENCY=25
REDIS_BREAK_AFTER_FRONTEND=30
REDIS_BREAK_AFTER_ADMINHTML=30
REDIS_FIRST_LIFETIME=600
REDIS_BOT_FIRST_LIFETIME=60
REDIS_BOT_LIFETIME=7200
REDIS_DISABLE_LOCKING=0
REDIS_MIN_LIFETIME=60
REDIS_MAX_LIFETIME=31540000
REDIS_SENTINEL_MASTER=
REDIS_SENTINEL_SERVERS=
REDIS_SENTINEL_CONNECT_RETRIES=5
REDIS_SENTINEL_VERIFY_MASTER=0
REDIS_FRONTEND_CACHE_ID_PREFIX=49e_
REDIS_FRONTEND_CACHE_DB=0
REDIS_FRONTEND_COMPRESS_DATA=1
REDIS_FRONTEND_COMPRESS_LIB=
REDIS_PAGE_CACHE_ID_PREFIX=48e_
REDIS_PAGE_CACHE_DB=1
REDIS_PAGE_CACHE_COMPRESS_DATA=0
REDIS_PAGE_CACHE_COMPRESS_LIB=
CACHE_ALLOW_PARALLEL_GENERATION=false

#********* RabbitMQ Settings ***********/
RABBITMQ_DOCKER_IMAGE_VERSION=3.13-management
RABBITMQ_DEFAULT_USER=magento
RABBITMQ_DEFAULT_PASS=

#********* OpenSearch Settings ***********/
OPENSEARCH_DOCKER_IMAGE_VERSION=2.12.0
OPENSEARCH_INITIAL_ADMIN_PASSWORD=
OPENSEARCH_MEM_LIMIT=1g

#********* SSL certificate Settings ***********/
SSL_COUNTRY=ES
SSL_STATE=Barcelona
SSL_LOCATION=Eixample
SSL_ORGANIZATION=KodingRocks
SSL_URL=koding.rocks
