[global]
; Global settings

[www]
pm={{PHP_PM}}
pm.max_children={{PHP_PM_MAX_CHILDREN}}
pm.start_servers={{PHP_PM_START_SERVERS}}
pm.min_spare_servers={{PHP_PM_MIN_SPARE_SERVERS}}
pm.max_spare_servers={{PHP_PM_MAX_SPARE_SERVERS}}
pm.process_idle_timeout={{PHP_PM_PROCESS_IDLE_TIMEOUT}}