upstream fastcgi_backend {
   # use tcp connection
   server  php-fpm:9000;
}
{{MAP_DIRECTIVE}}
server {
    listen 8080;
    server_name{{MAGENTO_SERVER_NAME}};
    set $MAGE_ROOT /var/www/html;

    #set $MAGE_MODE default;
    set $MAGE_RUN_TYPE store;
    include /var/www/html/{{NGINX_CONF_FILE}};
}

server {
    listen 80;
    server_name{{MAGENTO_SERVER_NAME}};
    return 301 https://$server_name$request_uri;
}

server {
   listen 443 ssl;
   http2 on;

   server_name{{MAGENTO_SERVER_NAME}};

   ssl_certificate /etc/nginx/ssl/{{MAGENTO_URL}}.crt;
   ssl_certificate_key /etc/nginx/ssl/{{MAGENTO_URL}}.key;

   set $MAGE_ROOT /var/www/html;
   #set $MAGE_DEBUG_SHOW_ARGS 0;

   location / {
        proxy_pass http://varnish:6081;
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Ssl-Offloaded "1";
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Port 443;
        proxy_redirect  http://$server_name:8080/  /;
        proxy_http_version 1.1;
    }
}

